* {
   box-sizing: border-box;
}

.navbar {
   float: left; 
   display: flex; 
   justify-content: space-around;
   text-align: center;
   overflow: hidden;
   margin: 0;
   padding: 0;
   margin-bottom: 10px; 
   background-color: rgb(236, 247, 238);
   width: 100vw; 
}

.navbar a {
   padding: 14px 16px;
   display: block; 
   text-decoration: none;
   color: rgb(94, 94, 94); 
   font-family: 'Work Sans', sans-serif;
   font-size: 1.2rem;
}

.navbar a:hover {
   text-decoration: none;
   background-color: lightgray;
   color: black;
}

.active {
   background-color: white; 
}

.title {
   font-family: 'Work Sans', sans-serif;
   text-align: center;
   color: rgb(0, 160, 5); 
}

.subtitle {
   font-family: 'Work Sans', sans-serif;
   text-align: center;
   font-size: 22px;
   color: rgb(0, 55, 0);
}

.card-container {
   display: flex; 
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: center;
}

.plant-card {
   flex: 0 1 24%;
   box-shadow: 0 8px 16px 0 rgba(44, 45, 44, 0.2); /* this adds the "card" effect */
   padding: 20px;
   margin: 10px; 
   text-align: center;
   background-color: #ffffff;
   border-radius: 5px;
   font-family: 'Work Sans', sans-serif;
}

.plant-card:hover {
   background-color: #f2f2f2;
}

.plant-photo-container {
   object-fit: contain;
   overflow: hidden;
   width: 300px;
   height: 300px; 
}

.plant-photo {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.images {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 75%; 
}

.button {
   background-color: rgb(236, 247, 238);
   border: 1px lightgray solid; 
   margin-top: 10px;
   border-radius: 8px; 
}

.button:hover {
   background-color: lightgray;
   color: black;
}